@import url("https://fonts.googleapis.com/css?family=Bitter:400,400i,700|Fira+Sans+Extra+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/*  Use in CSS
font-family: 'Bitter', serif;
font-family: 'Fira Sans Extra Condensed', sans-serif;
*/

body {
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

h1 {
  font-family: "Bitter", serif;
}
a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: red !important;
}

.container {
  max-width: 1310px;
}

main .img-container {
  position: relative;
}

main .img-container h6 {
  position: absolute;
  z-index: 100x;
  background: rgba(255, 255, 255, 0.9);
  padding: 8px 20px;
  margin: 0;
  bottom: 0;
  left: 0;
}

.nw-logo {
  width: 32px;
  height: 30px;
  background: red;
  color: white;
  margin-right: 15px;
  margin-bottom: 0px;
  font-family: "Bitter", serif;
  font-weight: 900;
  text-align: center;
  line-height: 1.9rem;
}

#main-in-the-magazine-1 img,
#main-in-the-magazine-2 img {
  object-fit: cover;
  height: 280px;
}
